@font-face {
  font-family: "Nexa Bold";
  src: url("fonts/Nexa Bold.otf") format("opentype");
}

body {
  background: #0575E6;
}

.reveal  {
  font-family: "Open Sans", sans-serif;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
  color: white;
  font-family: "Nexa Bold", Impact, sans-serif;
}

.reveal h1 {
  font-size: 2em;
}

.reveal div .photo-credit {
  color: gray;
  font-size: 0.6em;
}
.reveal div .photo-credit a {
  color: rgb(5, 50, 255);
}
